body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-transform: uppercase;
}

.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.donation-btn {
  background-color: #6bb8ab;
  border: none;
  color: #ffffff;
  font-size: 14pt;
  font-weight: 700;
  padding: 16px;
  border-radius: 10px;
  width: 200px;
  height: 80px;
  margin: 12px;
}

.donation-btn:hover,
.donation-btn:active,
.donation-btn:focus {
  background-color: #1583cc;
  border: none;
  cursor: pointer;
}

.form-wrapper {
  width: 50%;
}

.inputs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.input-field-wrapper {
  width: 50%;
}

.input-field {
  height: 46px;
  width: 100%;
  font-size: 12pt;
  padding: 0px 12px;
}

.error-text {
  color: #cd0400;
  font-size: 12pt;
}

.input-checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.input-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.label {
  font-size: 12pt;
}


.submit-btn {
  width: 100%;
  border-radius: 10px;
  height: 46px;
  background-color: #2a2970;
  border: none;
  color: #ffffff;
  font-size: 14pt;
  font-weight: 700;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #6bb8ab;
  border: none;
  cursor: pointer;
}

.checkout-page {
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 24px;
}

.checkout-page-left,
.checkout-page-right {
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.checkout-page-left {
  border-right: 1px solid #eeeeee;
}

.express-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  border: 1px solid #eeeeee;
  border-radius: 6px;
}

.express-checkout-title {
  margin-bottom: 12px;
  text-align: center;
}

.express-checkout-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.express-checkout-btn {
  margin: 12px;
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #f6f6f6;
  background-color: #ffffff;
  overflow: hidden;
}

.momo {
  /* background-color: #fdc918; */
  background-color: #f9f9f9;
}

.airtel {
  background-color: #e30713;
}

.express-checkout-btn:hover,
.express-checkout-btn:focus {
  cursor: pointer;
  border-color: #cccccc;
}

button:focus {
  outline: none !important;
}

.payment-img {
  height: 40px;
}

.checkout-form-wrapper {
  padding: 24px;
  border: 1px solid black;
}

.checkout-page-login,
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.checkout-page-login > a {
  margin-left: 6px;
}

a {
  text-decoration: none;
}

.flex-row {
  justify-content: space-between;
  margin-bottom: 12px;
}

.checkout-form-label {
  font-weight: 700;
}

.billing {
  margin-top: 24px;
  margin-bottom: 12px;
}

.donation-title {
  margin: 0px 0px 6px 0px;
}

.donation-contents,
.total-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.donation-description {
  color: #555555;
}

.donation-amount {
  font-weight: 700;
}

.hr {
  margin: 24px 0px;
  border: 1px solid #eeeeee;
}

.donation-total {
  font-size: 14pt;
}

.total-amount {
  justify-content: flex-start;
}

.total-amount-text {
  font-weight: 700;
  font-size: 18pt;
  margin-left: 6px;
}

.notification {
  text-align: center;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #eeeeee;
}

.notification-title {
  font-size: 14pt;
  font-weight: 700;
}

.success-text {
  color: green;
}
